$primary-color:#0084ff;
$secondary-color:rgb(240, 240, 240);
$font-color:black;
$accent:#ffe600;
$default-font:'Lato',sans-serif;
$normal-weight:300;
$bold-weight:700;
$gutter:2%;
$gutterdbl:(2*$gutter);